USE [hair_salon_test]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 6/13/2017 8:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
	[stylist_id] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[stylists]    Script Date: 6/13/2017 8:51:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stylists](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[clients] ON 

INSERT [dbo].[clients] ([id], [name], [stylist_id]) VALUES (26, N'Adam', 1)
INSERT [dbo].[clients] ([id], [name], [stylist_id]) VALUES (27, N'Michelle', 2)
INSERT [dbo].[clients] ([id], [name], [stylist_id]) VALUES (28, N'Miguel', 3)
SET IDENTITY_INSERT [dbo].[clients] OFF
SET IDENTITY_INSERT [dbo].[stylists] ON 

INSERT [dbo].[stylists] ([id], [name]) VALUES (1, N'Sarah')
INSERT [dbo].[stylists] ([id], [name]) VALUES (2, N'Don')
INSERT [dbo].[stylists] ([id], [name]) VALUES (3, N'Mitch')
SET IDENTITY_INSERT [dbo].[stylists] OFF
