@{
  Layout = "Shared/_layout.cshtml";
}
@if(Model.Count < 1)
{
  <p>You have no clients!</p>
}
@foreach(var client in @Model)
{
  <p>@client.GetName()</p>
}
<p>

<a href="/">CLICK HERE</a> To go back!

<form action="/clients/deleted" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" name="button">Delete all</button>
</form>
