@{
  Layout = "Shared/_layout.cshtml";
}

<form action="/change/@Model.GetId()/Success" method="post">
  <input type="text" name="changeName">
  <button type="submit" name="button">Change Name</button>
</form>
