@{
  Layout = "Shared/_layout.cshtml";
}

<p>@Model.GetStylistId()</p>

<form action="/change/success/@Model.GetStylistId()" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" name="changeName">
  <button type="submit" name="button">Change Name</button>
</form>

<a href="/">Click here</a> To go home
