@{
  Layout = "Shared/_layout.cshtml";
}

<div class="jumbotron">
  <h1>HUNTERS RAWNCHY SALON!</h1>
  <p>
    The only place you can come in with better hair and leave with none!
  </p>

</div>

<h3>ADMIN ACCESS ONLY - IF YOU ARE NOT AN ADMIN PLEASE TURN YOURSELF IN IMMEDIATELY</h3>

<div class="col-md-6">
  <div class="well">
    <p>
      <div id = "employeeDatabaseTitle" class="panel panel-default">
        <h3>EMPLOYEE DATABASE</h3>

      </div>
      <a href="/Stylist">Click here</a> to see your current employees
    </p>
    <p>
      <a href="/Stylist/new">Click here</a> to add a new employee

    </p>
  </div>

</div>
<div class="col-md-6">
  <div class="well">
    <div class="panel panel-default">
      <h3>CLIENT DATABASE</h3>

    </div>
    <p>
      <a href="/Stylist/Client/All">Click Here</a> to view all Clients!
    </p>
  </div>

</div>
