@{
  Layout = "Shared/_layout.cshtml";
}

<form action="/Stylist/Success" method="post">
  <label for="name">What is their name?</label>
  <input type="text" name="name">
  <button type="submit" name="button">SUBMIT</button>
</form>
