@{
  Layout = "Shared/_layout.cshtml";
}
<div class="well">
  <ul>
    @foreach(var stylist in @Model)
    {
      <div class="panel panel-success">

        <li><a href = "/Stylist/@stylist.GetId()">@stylist.GetName()</a></li>
      </div>
    }
  </ul>

  <p>
    <a href="/">Click here to go back!</a>
  </p>

  <form action="/deleted" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" name="button">Delete All</button>
  </form>

</div>
