@{
  Layout = "Shared/_layout.cshtml";
}
@if(@Model[0].GetName() == "FAKE")
{
  <p>There are no Clients!</p>
}
else
{
  @foreach(var client in @Model)
  {
    @if(client.GetName() == "FAKE")
    {
      break;
    }
    <div class="container panel panel-success">
      <form action="/deleted/@client.GetId()" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <p>@client.GetName()</p> <button type="submit" name="button">Delete</button>
      </form>
      <p><a href="/change/@client.GetId()">Click here </a> to change name</p>

    </div>
  }
}
<p>
  <p>
    <a href="/Client/new/@Model[0].GetStylistId()">Click here</a> to add a client to this stylist
  </p>
  <a href="/Stylist">Click here</a> to go back
</p>

@* <a href="/Client/new">Click here</a> to add a client to this stylist *@

<p>
  <form action="/deleted" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" name="button">Delete All</button>
  </form>
</p>
