@{
  Layout = "Shared/_layout.cshtml";
}

@foreach(var client in @Model)
{
  <p>@client.GetName()</p>
}
<p>
  <a href="/Client/new/@Model[0].GetStylistId()">Click here</a> to add a client to this stylist
</p>
<p>
  OR <a href="/deleted">Click here</a> to delete everthing
</p>
<p>
  OR <a href="/Stylist">Click here</a> to go back
</p>

@* <a href="/Client/new">Click here</a> to add a client to this stylist *@
